<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rooms</title>
</head>
<body>
    <ul>
        <!--<li th:each="unreservedRoom: ${date.unreservedRooms}" th:text="${unreservedRoom.roomNumber}">
        </li> -->
        <li th:if=${doubleBeds} th:text="'1 Double Bed: ' + ${doubleBeds}">
        </li>
         <li th:if=${queenBeds} th:text="'Standard 2 Queen: ' + ${queenBeds}">
        </li>
    </ul>
</body>
</html>